[sssd]
debug_level = 2
config_file_version = 2
services = nss, pam
domains = example.com
#This line allows user to sign in without specifying their full UPN e.g. user.name instead of user.name@example.com
default_domain_suffix = example.com


[domain/example.com]
id_provider = ad
access_provider = ad
cache_credentials = true
ldap_id_mapping = true
override_homedir = /home/%d/%u
override_shell = /bin/bash
#The following setting will allow us to configure login access through a GPO (including console, ssh, su, su -). As of yet still need to test which GPO needs to be set.
ad_gpo_access_control = enforcing