[sssd]
debug_level = 2
config_file_version = 2
services = nss, pam
domains = {{dns_domain}}
default_domain_suffix = {{dns_domain}}


[domain/{{dns_domain}}]
id_provider = ad
access_provider = ad
cache_credentials = true
ldap_id_mapping = true
override_homedir = /home/%d/%u
override_shell = /bin/bash
#This line allows us to use GPO based access control.
ad_gpo_access_control = enforcing