#This is the same as the RHEL6 file so should be put into a cover-all role

[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
 default_realm = {{krb_realm}}
 dns_lookup_realm = false
 dns_lookup_kdc = false
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true
 clockskew = 300

[realms]
# {{krb_realm}} = {
#  kdc = dc01.{{dns_domain}}
#  admin_server = {{pdc}}.{{dns_domain}}
# }

[domain_realm]
 .{{dns_domain}} = {{krb_realm}}
 {{dns_domain}} = {{krb_realm}}